.list-item {
  display: flex;
  gap: 4rem;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  word-break: break-all;
  /* width: calc(100% - 4rem); */
}

.item {
  display: flex;
  flex-direction: column;
}

.item > p {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  opacity: 0.8;
  font-style: italic;
}

.item > p:first-child {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
  font-style: normal;
}

.deleteBt {
  font-size: 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.deleteBt:hover {
  background-color: white;
  color: red;
}
