/* .App {
  
}
 */

.top {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 40px;
}

.heading {
  font-size: 2.8rem;
  color: var(--blue);
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  gap: 20px;
  margin-top: 4rem;
  padding: 0 2rem 2rem 2rem;
}

.container2 {
  display: flex;
  flex-direction: column;
  width: 70%;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .container2 {
    width: 90%;
  }
}
